*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: 'Fredoka', sans-serif;
}

h1{
  color: #e53170;
  text-align: center;
  margin-top: 2rem;
}

h2{
  font-size: 1rem;
  vertical-align: middle;
}

p:first-child{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 0.9rem;
}

section img{
  height: 6rem;
  vertical-align: middle;
}

section.float-left{
  float: left;
}

section.cards{
  color: white;
  box-shadow: 4px 4px 4px grey;
  background-color: #0f0e17;
  width: 300px;
  margin: calc(100% / 35);
}

address a{
  text-decoration: none;
}

div{
  width:60%;
  margin: 0 auto;
}

.contact{
  display: inline-block;
  vertical-align: middle;
}